<div class="container">
  <h2 class="card-header text-center">{{ Operacion }} Educacion</h2>

  <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>

<form class="my-3" [formGroup]="form" (ngSubmit)="confirmar()" enctype="multipart/form-data">
  <input
    formControlName="name"
    type="text"
    class="form-control"
    placeholder="Ingrese nombre"
  />
  <span
    *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched"
  >
    El campo nombre es obligatorio!!
  </span>
  <span *ngIf="form.get('name')?.hasError('maxlength')">
    Excedio el numero maximo de caracteres!!
  </span>
  <input
    formControlName="fecha"
    type="date"
    class="form-control mt-2"
    placeholder="Ingrese fecha"
  />
  <span
    *ngIf="
      form.get('fecha')?.hasError('required') && form.get('fecha')?.touched
    "
  >
    El campo fecha es obligatorio!!
  </span>

  <input formControlName="img" type="text" class="form-control mt-2" placeholder="Ingrese link de imagen(opcional)"/>
  
  <span *ngIf="form.get('img')?.hasError('maxlength')">
    Excedio el numero maximo de caracteres!!
  </span>
  <input
    formControlName="info"
    type="text"
    class="form-control mt-2"
    placeholder="Ingrese informacion"
  />
  <span
    *ngIf="form.get('info')?.hasError('required') && form.get('info')?.touched"
  >
    El campo informacion es obligatorio!!
  </span>
  <span *ngIf="form.get('info')?.hasError('maxlength')">
    Excedio el numero maximo de caracteres!!
  </span>
  <mat-dialog-actions class="justify-content-around">
    <button class="btn btn-dark" type="button" (click)="cancelar()" mat-button>
      Cancelar
    </button>
    <button
      class="btn btn-outline-primary"
      [disabled]="form.invalid"
      type="submit"
      mat-button
      cdkFocusInitial
    >
      Aceptar
    </button>
  </mat-dialog-actions>
</form>
