<div class="container">
   
<div class="title">
    <h1>Proyectos </h1>
    <div class="col-4">
      <button *ngIf="modoEdit" type="button" class="btn btn-primary" (click)="openDialog()">
        Agregar Educacion
      </button>
    </div>
</div>
    <div class="bg p-5" ></div>
    <div *ngFor="let proyecto of proyectos" class="card"   >
          
          
    
      
        <div class="card-body">
<div class="card-title">
    <div class="container text-center">
        <div class="row">
          <div class="col-10">
            <h5>{{proyecto.nombre}}</h5>
          </div>
          <div *ngIf="modoEdit" class="col-1">
            <button
              (click)="openDialog(proyecto.id)"
              type="button"
              class="btn btn-outline-info btn"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
          <div *ngIf="modoEdit" class="col-1">
            <button
              (click)="eliminarProyecto(proyecto.id!)"
              type="button"
              class="btn btn-outline-danger btn"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </div>
      </div>
    
    
    
</div>
         
          <p class="card-text">{{proyecto.descripcion }} </p>
          <a href="{{proyecto.resultado }}" class="btn btn-primary">Ver Resultado</a>
        <a href="{{proyecto.codigo}} " class="btn btn-primary">Ver Codigo</a>
        </div>
      </div>

</div>
<div class="bg p-5" ></div>
