<div class="container">
  <h2 class="card-header text-center">Editar Perfil</h2>
  <div class="card-body my-3"></div>
  <form [formGroup]="form" (ngSubmit)="confirmar()">
    <input
      formControlName="nombre"
      type="text"
      class="form-control"
      placeholder="Ingrese nombre "
    />
    <span
      *ngIf="
        form.get('nombre')?.hasError('required') && form.get('nombre')?.touched
      "
    >
      El campo nombre es obligatorio!!
    </span>
    <span *ngIf="form.get('nombre')?.hasError('maxlength')">
      Excedio el numero maximo de caracteres!!
    </span>
    <input
      formControlName="sobreMi"
      type="text"
      class="form-control mt-2"
      placeholder="Ingrese descripcion sobre mi"
    />
    <span
      *ngIf="
        form.get('sobreMi')?.hasError('required') &&
        form.get('sobreMi')?.touched
      "
    >
      El campo descripcion sobre mi es obligatorio!!
    </span>
    <span *ngIf="form.get('sobreMi')?.hasError('maxlength')">
      Excedio el numero maximo de caracteres!!
    </span>
    <input
      formControlName="portada"
      type="text"
      class="form-control mt-2"
      placeholder="Ingrese foto de portada"
    />
    <span
      *ngIf="
        form.get('portada')?.hasError('required') &&
        form.get('portada')?.touched
      "
    >
      El campo foto de portada es obligatorio!!
    </span>
    <span *ngIf="form.get('portada')?.hasError('maxlength')">
      Excedio el numero maximo de caracteres!!
    </span>
    <input
      formControlName="foto"
      type="text"
      class="form-control mt-2"
      placeholder="Ingrese foto de perfil"
    />
    <span
      *ngIf="
        form.get('foto')?.hasError('required') && form.get('foto')?.touched
      "
    >
      El campo foto de perfil es obligatorio!!
    </span>
    <span *ngIf="form.get('foto')?.hasError('maxlength')">
      Excedio el numero maximo de caracteres!!
    </span>
    <mat-dialog-actions class="justify-content-around">
      <button
        class="btn btn-dark"
        type="button"
        (click)="cancelar()"
        mat-button
      >
        Cancelar
      </button>

      <button
        class="btn btn-outline-light"
        [disabled]="form.invalid"
        type="submit"
        mat-button
        cdkFocusInitial
      >
        Aceptar
      </button>
    </mat-dialog-actions>
  </form>
</div>
