<div class="container">
  <h2 class="card-header text-center">{{ Operacion }} Educacion</h2>

  <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>
<form [formGroup]="form" (ngSubmit)="confirmar()">
  <input
    formControlName="name"
    type="text"
    class="form-control"
    placeholder="Ingrese nombre"
  />
  <span
    *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched"
  >
    El campo nombre es obligatorio!!
  </span>
  <input
    formControlName="descripcion"
    type="text"
    class="form-control mt-2"
    placeholder="Ingrese descripcion"
  />
  <span
    *ngIf="
      form.get('descripcion')?.hasError('required') &&
      form.get('descripcion')?.touched
    "
  >
    El campo descripcion es obligatorio!!
  </span>
  <input
    formControlName="img"
    type="text"
    class="form-control mt-2"
    placeholder="Ingrese imagen"
  />
  <span
    *ngIf="form.get('img')?.hasError('required') && form.get('img')?.touched"
  >
    El campo imagen es obligatorio!!
  </span>

  <mat-dialog-actions align="end">
    <button
      class="btn btn-secondary"
      type="button"
      (click)="cancelar()"
      mat-button
    >
      Cancelar
    </button>
    <button
      class="btn btn-success"
      [disabled]="form.invalid"
      type="submit"
      mat-button
      cdkFocusInitial
    >
      Aceptar
    </button>
  </mat-dialog-actions>
</form>
