<div class="container">
  <div class="title">
    <div class="row">
      <div class="col-8"><h1>Experiencia</h1></div>
      <div class="col-4">
        <button *ngIf="modoEdit" type="button" class="btn btn-primary" (click)="openDialog()">
          Agregar Educacion
        </button>
      </div>
    </div>
  </div>
  <div class="bg p-5"></div>
  <div *ngFor="let experiencia of experiencias" class="card">
    <div class="card-body">
      <div class="card-title">
        <div class="container text-center">
          <div class="row">
            <div class="col-10">
              <h5>{{ experiencia.nombre }}</h5>
            </div>
          
          <div *ngIf="modoEdit" class="col-1">
            <button
              (click)="openDialog(experiencia.id)"
              type="button"
              class="btn btn-outline-info btn"
            >
              <i class="bi bi-pencil-square"></i>
            </button>
          </div>
          <div *ngIf="modoEdit" class="col-1">
            <button
              (click)="eliminarExperiencia(experiencia.id!)"
              type="button"
              class="btn btn-outline-danger btn"
            >
              <i class="bi bi-trash-fill"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
      <p class="card-text">{{ experiencia.descripcion }}</p>
      <img src="{{ experiencia.img }}" alt="" />
    </div>
  </div>
</div>

<div class="bg p-5"></div>
-->
